# Operating System files
.DS_Store
thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js dependencies (if you were to add them later)
node_modules

# Vercel specific files
.vercel/
